.botones-div{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  background: transparent;
  
  position: absolute;
  width: 680px;
  height: 67px;
  left: 2%;
  top: 553px;
 }

.btn-criptografar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;

  position: static;
  width: 328px;
  height: 67px;
  left: 0px;
  top: 0px;

  /* Dark blue/dark-blue-300 */

 
  border: 3px solid #0A3871;
  border-radius: 24px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 24px;
  flex-grow: 0;
  color: white;
  border-color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 19px;
  justify-content: center;
  transition: 1s all; 
  cursor: pointer;

}

.btn-criptografar:hover {
    color: purple;
    border-color: purple;
    padding: 25px;
    text-decoration: ;
    font-size: 24px;
    text-decoration: underline;
  
 
}

.btn-descriptografar{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;

  position: static;
  width: 328px;
  height: 67px;
  left: 352px;
  top: 0px;

  /* Light gray */

 
  /* Dark blue/dark-blue-300 */

  border: 3px solid white;
  box-sizing: border-box;
  border-radius: 24px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 24px;

  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 19px;
  justify-content: center;
  transition: 1s all;
  cursor: pointer;
}


.btn-descriptografar:hover {
    color: purple;
    border-color: purple;
    text-decoration: ;
    padding: 25px;
    font-size: 24px;
    text-decoration: underline;
 
}

.btn-copiar{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;



  position: absolute;
  width: 336px;
  height: 67px;
  left: 25px;
  top: 530px;

/* Dark blue/dark-blue-300 */

  border: 3px solid #0A3871;
  box-sizing: border-box;
  border-radius: 24px;
 
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 19px;
  text-align: center;
  
  /* Dark blue/dark-blue-300 */
  
  color: white;

  
  
  /* Inside Auto Layout */
  
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 8px;
  justify-content: center;
  transition: 1s all;
  cursor: pointer;

}

.btn-copiar:hover {
  color: purple;
    border-color: purple;
    padding: 25px;
    font-size: 24px;
    text-decoration: underline;

}


